back/myproject/__pycache__/__init__.cpython-313.pyc
back/myproject/__pycache__/__init__.cpython-313.pyc
back/myproject/__pycache__/__init__.cpython-313.pyc
back/myproject/__pycache__/settings.cpython-313.pyc
back/myproject/__pycache__/views.cpython-313.pyc
back/myproject/__pycache__
