<footer class="bg-blue-500 text-white py-8 shadow-2xl">
  <div class="container mx-auto px-4 grid grid-cols-1 md:grid-cols-3 gap-8">
    <div>
      <h3 class="flex justify-center text-xl font-semibold mb-4">
        {{ footer_info().title1 }}
      </h3>
      <p class="text-white">
        {{ footer_info().text1 }}
      </p>
    </div>
    <div>
      <h3 class="text-xl font-semibold mb-4 flex justify-center">
        {{ footer_info().title2 }}
      </h3>
      <ul>
        <li class="mb-2">
          <a
            href="/mission"
            class="hover:underline text-white flex justify-center"
            >{{ footer_info().info1 }}</a
          >
        </li>
        <li class="mb-2">
          <a
            href="/vision"
            class="hover:underline text-white flex justify-center"
            >{{ footer_info().info2 }}</a
          >
        </li>
        <li class="mb-2">
          <a
            href="/history"
            class="hover:underline text-white flex justify-center"
            >{{ footer_info().info3 }}</a
          >
        </li>
        <li class="mb-2">
          <a
            href="/contact"
            class="hover:underline text-white flex justify-center"
            >{{ footer_info().info4 }}</a
          >
        </li>
      </ul>
    </div>
    <div>
      <h3 class="text-xl font-semibold mb-4 flex justify-center">
        {{ footer_info().title3 }}
      </h3>
      <ul>
        <li class="mb-2">
          <a href="faq" class="hover:underline text-white flex justify-center">
            {{ footer_info().social1 }}
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="hover:underline text-white flex justify-center">
            {{ footer_info().social2 }}
          </a>
        </li>
        <li class="mb-2">
          <a href="#" class="hover:underline text-white flex justify-center">
            {{ footer_info().social3 }}
          </a>
        </li>
      </ul>
    </div>
  </div>
  <div class="mt-8 border-t border-white pt-4 text-center text-white">
    &copy; 2025 Hospital High Sierra. All rights reserved.
  </div>
</footer>
