<div
  class="p-2 flex w-full items-center bg-white border-b-2 border-blue-300 shadow-2xl"
>
  <a routerLink="/" class="w-16 h-16 me-2">
    <img
      src="/logo.webp"
      alt="Description"
      class="rounded-full border-gray-300 object-cover w-full h-full"
    />
  </a>
  @if (userService.user()) {
    <div class="flex items-center gap-4">
      @if (userService.user().rol === "admin") {
        <a routerLink="/admin/users">
          <app-button layout="pe-2">Usuarios</app-button>
        </a>
        <a routerLink="/admin/doctors">
          <app-button layout="pe-2">Doctores</app-button>
        </a>
      }
      @if (userService.user().rol === "doctor") {
        <a routerLink="/doctor/prescriptions">
          <app-button layout="pe-2">Recetas</app-button>
        </a>
      }
      @if (userService.user().rol === "patient") {
        <a routerLink="/appointments">
          <app-button layout="pe-2">Mis Citas</app-button>
        </a>
      }
      
      <div class="flex items-center gap-2">
        <span class="text-sm font-medium">
          {{ userService.user().rol }}:
        </span>
        <span>{{ userService.user().username }}</span>
      </div>

      <app-button layout="pe-2" (click)="logOut()">
        <svg
          class="me-2"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="25px"
          width="25px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M11 7 9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z"
          ></path>
        </svg>
        Log Out
      </app-button>
    </div>
  } @else {
    <a routerLink="/login">
      <app-button layout="pe-2">
        <svg
          class="me-2"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 24 24"
          height="25px"
          width="25px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path fill="none" d="M0 0h24v24H0z"></path>
          <path
            d="M11 7 9.6 8.4l2.6 2.6H2v2h10.2l-2.6 2.6L11 17l5-5-5-5zm9 12h-8v2h8c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2h-8v2h8v14z"
          ></path>
        </svg>
        Log In
      </app-button>
    </a>
    <a routerLink="/signup">
      <app-button>
        <svg
          class="pe-2"
          stroke="currentColor"
          fill="currentColor"
          stroke-width="0"
          viewBox="0 0 512 512"
          height="25px"
          width="25px"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            d="M512 176.001C512 273.203 433.202 352 336 352c-11.22 0-22.19-1.062-32.827-3.069l-24.012 27.014A23.999 23.999 0 0 1 261.223 384H224v40c0 13.255-10.745 24-24 24h-40v40c0 13.255-10.745 24-24 24H24c-13.255 0-24-10.745-24-24v-78.059c0-6.365 2.529-12.47 7.029-16.971l161.802-161.802C163.108 213.814 160 195.271 160 176 160 78.798 238.797.001 335.999 0 433.488-.001 512 78.511 512 176.001zM336 128c0 26.51 21.49 48 48 48s48-21.49 48-48-21.49-48-48-48-48 21.49-48 48z"
          ></path>
        </svg>
        Sign Up
      </app-button>
    </a>
  }
</div>
