<div class="agenda-container">
  <h2>Agenda del Día: {{ date | date:'fullDate' }}</h2>
  <div class="slots-grid">
    <div *ngFor="let time of timeSlots" class="slot-cell" 
         [class.occupied]="getAppointment(time)" (click)="selectSlot(time)">
      <span class="time-label">{{ time }}</span>
      <div *ngIf="getAppointment(time); else available">
        <strong>{{ getAppointment(time)?.patientName }}</strong>
        <p>{{ getAppointment(time)?.details }}</p>
      </div>
      <ng-template #available>
        <em>Disponible</em>
      </ng-template>
    </div>
  </div>
</div>
